:root{
    --vermelho:#E50914;
    --preto:#141414;
    --branco:#f0fcfee4;
}

*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--preto);
    color: var(--branco);
}
nav{
    color: var(--vermelho);
}
nav.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav a{
    color: var(--branco);
    text-decoration: none;

}
nav h2.logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    padding: 5px 100px 15px 15px;

}
/** Filme Principal**/
.filme-principal{
    font-size: 18px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0,.75)100%) ,url(https://www.themoviedb.org/t/p/original/ivhXH8jryWcZcEdUNW6ZKWz5b3y.jpg);
    background-size: cover;
    
    height: 400px;
    width: auto;
    padding: 10px 0px 0px 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.titulo-1{
    font-size: 35px;
}
.botoes{
    margin: 20px;
}
.botao{
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    color: white;

    font-size: 12px;
    margin-right: 25px;
    padding: 10px;

    cursor: pointer;
    transition: 3s ease all;
}
.botao:hover{
    background-color: white;
    color: black;
}
.botao i{
    margin-right: 10px;
}